@red: #e74c3c;
@darkred: #c0392b;
@green: #2ecc71;
@darkgreen: #27ae60;

.tabmenu li a {
background-color: #eff7ff;
padding: 10px;
position: relative;
bottom: 10px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-top: 2px solid lightblue;
}

#header-bottom-right {
position: absolute;
right: 0px;
bottom: 0px;
background-color: #EFF7FF;
padding: 4px;
line-height: 12px;
border-top-left-radius: 7px;
border-top: 3px solid lightblue;
}
  
  .link {
margin: 0;
margin-bottom: 8px;
padding-left: 3px;
padding: 10px;
border-radius: 10px;
background: #ecf0f1;
border-bottom: 3px solid #bdc3c7;
}

.side {
float: right;
background-color: white;
margin: 0px 5px 0 5px;
width: 300px;
padding: 10px;
}

.fancy-toggle-button .remove {
background-position: 0px -182px;
background-repeat: repeat;
background: @red;
border: 0px !important;
border-bottom: 2px solid @darkred !important;
padding: 4px;
}

.fancy-toggle-button .add {
background: @green;
background-position: 0px 0px;
background-repeat: repeat;
padding: 4px;
border: 0px;
border-bottom: 2px solid @darkgreen;
}