.tabmenu li a {
background-color: #eff7ff;
padding: 10px;
position: relative;
bottom: 10px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-top: 2px solid lightblue;
}

#header-bottom-right {
position: absolute;
right: 0px;
bottom: 0px;
background-color: #EFF7FF;
padding: 4px;
line-height: 12px;
border-top-left-radius: 7px;
border-top: 3px solid lightblue;
}
  
  .link {
margin: 0;
margin-bottom: 8px;
padding-left: 3px;
padding: 10px;
border-radius: 10px;
background: #ecf0f1;
border-bottom: 3px solid #bdc3c7;
}

.side {
float: right;
background-color: white;
margin: 0px 5px 0 5px;
width: 300px;
padding: 10px;
}
