body {
  background-color: #fafafa;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.tabmenu li a {
  background-color: #eff7ff;
  position: relative;
  bottom: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 2px solid lightblue;
  padding: 5px 10px;
}
.tabmenu li.selected a {
  background-color: #fafafa;
  border-bottom: 1px solid #fafafa;
}
#header-bottom-right {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: #EFF7FF;
  padding: 4px;
  line-height: 12px;
  border-top-left-radius: 7px;
  border-top: 3px solid lightblue;
  border-top-right-radius: 7px;
}
.link {
  margin: 0;
  margin-bottom: 8px;
  padding-left: 3px;
  padding: 10px;
  border-radius: 10px;
  background: #f5f5f5;
  border-bottom: 3px solid #bdc3c7;
}
.side {
  float: right;
  background-color: white;
  margin: 0px 5px 0 5px;
  width: 300px;
  padding: 10px;
  box-shadow: 0px 1px 10px 2px grey;
}
.morelink {
  display: block;
  text-align: center;
  position: relative;
  border: 0px solid #c4dbf1;
  background: #ffffff none repeat-x scroll center left;
  background: #f5f5f5;
  background-position: 0px -278px;
  background-repeat: repeat;
  font-size: 150%;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 29px;
  height: 29px;
  border-bottom: 3px solid #bdc3c7;
  border-radius: 5px;
}
.morelink:hover a {
  color: inherit;
  background: lightgrey;
  border-radius: 5px;
}
.fancy-toggle-button .remove {
  background-position: 0px -182px;
  background-repeat: repeat;
  background: #e74c3c;
  border: 0px !important;
  border-bottom: 2px solid #c0392b !important;
  padding: 4px;
}
.fancy-toggle-button .add {
  background: #2ecc71;
  background-position: 0px 0px;
  background-repeat: repeat;
  padding: 4px;
  border: 0px;
  border-bottom: 2px solid #27ae60;
}
.side .usertext-body .md a {
  padding: 5px;
  background: #ecf0f1;
  display: inline-block;
  border-radius: 5px;
  border-bottom: 3px solid #bdc3c7;
}
.side .usertext-body .md a:active {
  border-bottom: 2px solid #bdc3c7;
  position: relative;
  bottom: 1px;
}
hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin: 5px;
}
.flair {
  border-bottom: 3px solid lightgrey;
  border-radius: 5px;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: #f5f5f5;
  border-left: 1px solid #d2d2d2;
}
::-webkit-scrollbar-thumb {
  background-color: #c3c3c3;
  border-top: 1px solid #b6b6b6;
  border-bottom: 1px solid #969696;
  border-left: 1px solid #b6b6b6;
}
::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
  color: #555;
}
.nextprev a {
  padding: 1px 4px;
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  border-bottom: 3px solid #bdc3c7;
}
.author.id-t2_bjxud:after {
  content: "Subreddit CSS Guy";
  margin: 5px;
  background: #ecf0f1;
  color: #369;
  padding: 4px;
  border-radius: 5px;
  border-bottom: 3px solid #bdc3c7;
}
