//////////////
/// Colors ///
//////////////

@primary-color: #368;
@primary-shade: darken(#368, 10%);
@primary-tint: lighten(#368, 10%);
@primary-tint-2: lighten(#368, 30%);
@red: #e74c3c;
@dark-red: darken(@red, 20%);
@green: #2ecc71;
@dark-green: darken(@green, 20%);
@gray: #dcdcdc;
@dark-gray: darken(@gray, 10%);
@light-gray: lighten(@gray, 10%);
@white: #ffffff;

//////////////////
/// Typography ///
//////////////////

@fontstack: Helvetica, Arial, sans-serif;
@small: (@base-font-size * .8);
@base-font-size: 1.15em;
@large: (@base-font-size * 1.2);
@larger: (@base-font-size * 1.6);

///////////////////////////
/// Yet to be organized ///
///////////////////////////

.box-shadow (@shadow) {
	-webkit-box-shadow: @shadow;
	-moz-box-shadow:    @shadow;
	box-shadow:         @shadow;
}

.border-radius(@radius) {
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.text-shadow {
	text-shadow: 0px 1px @light-gray;		
}